@use "base" as *;

header {
	display: flex;
	align-items: center;
	padding-bottom: 32px;
	width: 100%;
	font-size: 24px
}

.header-logo {
	display: flex;
	align-items: center;

	& .platform-title {
		padding: 0 16px 0;
		font-size: 32px;
		white-space: nowrap;
	}
}

.header-buttons {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	gap: 16px;

	& div {
		padding: 16px;
		border-radius: 8px;

		&:hover {
			background-color: white;
			color: $background-platform-color
		}
	}
}

// CUSTOM SCROLLBAR
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: darken(white, 50%);
}

::-webkit-scrollbar-thumb {
	background: lighten($background-platform-color, 10%);
}

::-webkit-scrollbar-thumb:hover {
	background: lighten($background-platform-color, 10%);
}