@import url('https://fonts.googleapis.com/css?family=Jost:400,500,700');

$background-platform-color:#141414;

body {
	margin: 0;
	padding: 24px;
	width: 100vw;
	font: 400 24px "Jost";
	box-sizing: border-box;
	background-color: $background-platform-color;
	color: white;
	display: flex;
	flex-direction: column;
	overflow-x: hidden // Hiding x scroll as it'ss showing when scaling an image
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

#top-text {
	font-weight: bold;
	font-size: 24px;
	font-style: italic;
	content: "5"
}

#top-text::before {
	content: "5";
}

section {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	gap: 4px;
	padding: 8px 0 24px
}

.item,
.top-item {
	flex: 1
}

.top-item {
	flex-basis: 225px;
}

.item {
	flex-basis: 250px;
}

.top-item:hover,
.item:hover {
	transform: scale(1.25);
}

img {
	width: 100%;
}


@media screen and (max-width:1200px) {
	body {
		padding: 8px;
	}

	.platform-title {
		display: none;
	}

	#top-text::before {
		content: "3";
	}

	.top .top-item:nth-child(4),
	.top .top-item:nth-child(5) {
		display: none;
	}
}