$color-base: red;
$color-important: brown;
$color-warning: pink;

$font-family-principal: Times, "Times New Roman", Georgia, serif;
$font-family-secondary: Verdana, Arial, Helvetica, sans-serif;

$border-radius: 4px;

$box-shadow: -10px 10px 10px black;