$color-base: blue;
$color-important: darkblue;
$color-warning: lightblue;

$font-family-principal: cursive;
$font-family-secondary: fantasy;

$border-radius: 12px;

$box-shadow: 10px 10px 10px black;
