#root {
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo-optimize {
	filter: invert(100%) sepia(0%) saturate(6681%) hue-rotate(83deg)
		brightness(118%) contrast(87%);
}
.logo-optimize:hover {
	filter: invert(100%) sepia(0%) saturate(6681%) hue-rotate(83deg)
		brightness(118%) contrast(87%) drop-shadow(0 0 2em #61dafbaa);
}

.container {
	display: flex;
}

.container-col {
	width: 50%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
