$back-color: indianred;

body {
  padding: 16px;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

.red-background {
  background-color: $back-color;
  color: White;
}

img {
  width: 100px;
}

.card-container {
  display: flex;
  gap: 16px;
}

.card {
  flex: 1;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fafafa;

  max-width: 25%;

  padding: 16px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  &.container {
    padding: 2px 16px;
  }
}
