$background-color: #f1f1f1;
$primary-color: #cddf1b;
$secondary-color: #393e06;
$tertiary-color: #f9fbe3;

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	overflow-x: hidden;

	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header header"
		"nav main"
		"footer footer"
}

// START GRID-AREAS
header {
	grid-area: header
}

nav {
	grid-area: nav;
	width: 128px*2;
	height: 100%;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer
}

// END GRID-AREAS

.page-container {
	display: flex;
}

main {
	flex: 1;
	background-color: $background-color;

	& .list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 24px;
		padding: 24px;
	}
}

.card {
	border-radius: 4px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 225px;
	background-color: white;
	padding: 16px;

	& img {
		border-radius: 50%;
		width: 100%;
		max-width: 64*1.5px;
	}

	& .member-name {
		padding: 8px;
		text-align: center;
	}
}

footer {
	height: 32px;
	background-color: $tertiary-color;
	display: flex;
	align-items: center;
	padding: 16px
}

@media screen and (width<768px) {
	body {
		grid-template-rows: auto auto auto auto;
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"nav"
			"main"
			"footer"
	}

	.page-container {
		flex-direction: column;
	}

	main .list {
		flex-direction: column;
		gap: 4px;
		padding: 16px;
	}

	.card {
		border-radius: 4px;
		border: 0px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		flex-basis: unset;
		background-color: white;
		padding: 16px;

		& img {
			border-radius: 50%;
			width: 100%;
			max-width: 64*1.5px;
		}

		& .member-name {
			padding: 16px;
			text-align: center;
		}
	}
}