$first-color: #F44336;
$second-color: #3F51B5;
$third-color: #4CAF50;
$text-color: gray;
$background-color-variation: 6%;
$text-color-variation: 12%;

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

[class^="container-"] {
	display: flex;
	flex: 1;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.box {
	height: 64px;
	padding: 8px;
	margin: 4px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin color-variations($container, $color) {
	#{$container} {
		@for $i from 4 through 1 {
			& .darken-#{$i} {
				background-color: darken($color, $background-color-variation*$i);
				color: darken($text-color, $text-color-variation*$i);
			}
		}

		& .base-color {
			background-color: $color;
			color: $text-color;
		}


		@for $i from 1 through 4 {
			& .lighten-#{$i} {
				background-color: lighten($color, $background-color-variation*$i);
				color: lighten($text-color, $text-color-variation*$i);
			}
		}
	}
}

@include color-variations('.container-1', $first-color);
@include color-variations('.container-2', $second-color);
@include color-variations('.container-3', $third-color);