$green-color: #7abe47;

body {
	padding: 12px;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eeeeee;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-flow: row;
	gap: 12px;
}

@media screen and (max-width: 1200px) {
	body {
		grid-template-columns: repeat(2, 1fr);
	}

}

.card {
	background-color: white;
	color: #5a5a5a;
	border: 1px solid #d0d0d0;
	display: flex;
	flex-direction: column;
}

.card img {
	width: 100%;
}

.card-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 12px;
	padding-top: 0px;
	flex:1
}

.card-content {
	flex: 1
}

.card-footer{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.card-title {
	color: black;
	font-weight: 100;
	font-size: 24px;
}

.card-body {
	line-height: 16px*1.5
}

.card-published {
	text-align: right;
	display: block;
	font-weight: bold;
}

.card-date {
	font-weight: 100;
	color: $green-color;
	cursor: pointer;
}

.more-info-button {
	background-color: $green-color;
	color: white;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}